:root, body{
  --color-background: rgba(72, 72, 73, 0.651);
  --color-text: white;
  --text-black: rgba(8, 8, 8, 0.959);
  --line-heigh: 2;
  --font-strong: 700;
  --text-ilumination: 1px 1px 10px white;
  --font-title: 'Playfair Display SC';
  --font-text: 'Roboto';
  --font-size-corp: 16px;
}

body {
    display: block;
    background-image: url("../imagens/wpp-computer-coding.gif");
    background-position: center;
    background-size: cover;
    line-height: var(--line-heigh);
    font-size: var(--font-size-corp);
    font-family: var(--font-text);
    margin: 0px 0px;
}

header{
  display: block;
  width: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
}

header h1 {
  font-size: 60px;
  font-family: var(--font-title);
  text-align: center;
  margin: 0;
  text-decoration: solid;
  text-shadow: var(--text-ilumination);
}

header nav{
  border-top: 0.5px inset white;
}

header nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  gap: 20px;
}

header nav li {
  display: inline-block;
  font-size: 22px;
  width: 150px;
  color: var(--text-black);
  text-align: center; 
}

header nav li a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: var(--font-strong);
  transition-duration: 1000ms;
}

nav li :hover {
  color: var(--color-text);
  text-shadow: var(--text-ilumination);
  transition-duration: 1000ms;
}

main {
  color: var(--color-text);
  font-family: var(--font-text);
  text-align: justify;
  background-color: var(--color-background);
  margin: 50px 25%;
  border-radius: 50px;
  padding: 25px 25px;
}

main p {
  text-indent: 5em;
}

main h2 {
  font-size: 48px;
  text-align: left;
  margin: 0;
  padding: 0px 50px;
  color: var(--color-text);
  text-shadow: var(--text-ilumination);
}


footer {
  display: block;
  background-color: var(--color-background);
  color: var(--color-text);
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: rgb(15, 15, 15);
  border: 1px solid rgb(15, 15, 15);
  border-radius: 25px;
  padding: 3px 3px;
  transition-duration: 1000ms;
  font-weight: var(--font-strong);
}

footer a:hover{
  text-shadow: var(--text-ilumination);
  box-shadow: var(--text-ilumination);
  background-color: black;
  padding: 5px 5px;
  border-radius: 50px;
  border-color: white;
  color: white;
  transition-duration: 1000ms;
}