html {
    font-size: 16px; 
    font-family: "Roboto";
    /* background-color: rgb(0, 0, 0); */
    background-image: url("../imagens/background-geometric.webp");
    /* background-position: repeat; */
    background-size: cover;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 650px;
    background-color: #000000;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px white;
  }

/* Estilização do conteudo principal */
:is(main, main p, main h2) {
  margin: 0px 25px 25px 0px;
  text-align: justify;
  color: #ffffff;
  :where(main p){
    text-indent: 5em;
  }
  :where(h2){
    font-size: 48px;
    text-align: left;
    margin: 0;
    padding: 0px 50px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
  }
}

/* Estilização da barra de navegação */
:is(header, h1, nav, nav ul, nav li, nav li a, button){
    display: block;
    width: inherit;
    background-color: black;
    color: #ffffff;
    border-radius: 20px;
    :where(h1){
        display: flex;
        font-size: 60px;
        font-family: 'Playfair Display SC';
        justify-content: center;
        margin: 0;
        text-decoration: solid;
        text-shadow: 2px 1px 2px rgb(255, 255, 255);
    }
    :where(nav ul){      
      padding: 0px;     
    }
    :where(nav li){
      display: inline-block;
      font-size: 18px;
      width: 150px;
      color: gray;
      text-shadow: 1px 1px 1px rgb(255, 255, 255);
      text-align: center; 
    }
    :where(nav li a){
      text-decoration: none;
    }
  }


/* Estilização do rodapé */
:is(footer, footer a) {
   color: white;
   :where(footer a) {
      text-decoration: none;
      text-shadow: 0px 0px white;
      border: 1px solid white;
      border-radius: 10px;
    }
  }
