/* Satoru */

.satoru.botao.selecionado img {
    box-shadow: 0px 0px 30px var(--satoru-color);
}

.satoru .descricao {
    text-shadow: 0px 0px 30px var(--satoru-color);
}

.satoru .titulo{
    text-shadow: 0px 0px 30px var(--satoru-color);
}

.satoru.botao img:hover{
    box-shadow: 0px 0px 30px var(--satoru-color);
    transition-duration: var(--duracao-transition);
}

/* Sukuna */

.sukuna.botao.selecionado img {
    box-shadow: 0px 0px 30px var(--sukuna-color);
}

.sukuna.botao img:hover{
    box-shadow: 0px 0px 30px var(--sukuna-color);
    transition-duration: var(--duracao-transition);
}

.sukuna .imagem{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.sukuna .descricao {
    text-shadow: 0px 0px 30px var(--sukuna-color);
}

.sukuna .titulo{
    text-shadow: 0px 0px 30px var(--sukuna-color);
}


/* Yuta */

.yuta.botao.selecionado img {
    box-shadow: 0px 0px 30px var(--yuta-color);
}

.yuta .descricao {
    text-shadow: 0px 0px 30px var(--yuta-color);
}

.yuta .titulo{
    text-shadow: 0px 0px 30px var(--yuta-color);
}

.yuta .imagem{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.yuta.botao img:hover{
    box-shadow: 0px 0px 30px var(--yuta-color);
    transition-duration: var(--duracao-transition);
}


/* Megumi */

.megumi.botao img:hover{
    box-shadow: 0px 0px 30px var(--megumi-color);
    transition-duration: 1000ms;
}

.megumi.botao.selecionado img {
    box-shadow: 0px 0px 30px var(--megumi-color);
}

.megumi .descricao {
    text-shadow: 0px 0px 50px var(--megumi-color);
}

.megumi .imagem {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    object-position: top left;
}

.megumi .titulo{
    text-shadow: 0px 0px 50px var(--megumi-color);
}


/* Itadori */

.itadori.botao img:hover{
    box-shadow: 0px 0px 30px var(--itadori-color);
    transition-duration: 1000ms;
}

.itadori.botao.selecionado img {
    box-shadow: 0px 0px 30px var(--itadori-color);
}

.itadori .descricao {
    text-shadow: 0px 0px 50px var(--itadori-color);
}

.itadori .titulo{
    text-shadow: 0px 0px 50px var(--itadori-color);
}

.itadori.botao img:hover{
    box-shadow: 0px 0px 30px var(--itadori-color);
    transition-duration: 1000ms;
}


/* Nobara */

.nobara.botao img:hover{
    box-shadow: 0px 0px 30px var(--nobara-color);
    transition-duration: 1000ms;
}

.nobara.botao.selecionado img {
    box-shadow: 0px 0px 30px var(--nobara-color);
}

.nobara .descricao {
    text-shadow: 0px 0px 50px var(--nobara-color);
}

.nobara .imagem {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.nobara .titulo{
    text-shadow: 0px 0px 50px var(--nobara-color);
}

.nobara.botao img:hover{
    box-shadow: 0px 0px 30px var(--nobara-color);
    transition-duration: 1000ms;
}
