:root,
body {
    --cor-de-fundo: rgba(0, 0, 0, 0.54);
    --cor-da-fonte: white;
    --satoru-color: rgb(80, 8, 146);
    --sukuna-color: rgba(199, 15, 15, 0.765);
    --yuta-color: rgba(255, 255, 255, 0.741);
    --itadori-color: rgba(230, 24, 24, 0.781);
    --megumi-color: rgba(0, 34, 156, 0.62);
    --nobara-color: rgba(229, 145, 201, 0.781);
    --duracao-transition: 1500ms;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte);
    width: 100%;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    width: 80vw;
    min-height: 100vh;
    top: 0px;
    right: 0px;
    background: linear-gradient(233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

p {
    padding: 0px;
    margin: 0px;
}